body{background-image: url("background\ tugas\ 2.jpg");}
h1 {color: floralwhite; font-family: 'Times New Roman', Times, serif;font-size: 50px;
}
p{ font-style: italic; font-family: Verdana, Geneva, Tahoma, sans-serif; color: yellow;}

#legend{font-size: 30px; font-family: fantasy; color: honeydew;}
#fieldset{margin-left: 900px;}
#text1{font-size: 20px; color: honeydew;}
#fieldset2{margin-top: -309px; margin-right: 500px;}
#textarea{width: 400px; height: 100px; font-family: 'Times New Roman', Times, serif; font-size: 15px;}
#submit{font-family: 'Times New Roman', Times, serif; font-size: 24px; background-color: hotpink; width: 40%; height: 60px;}
#submit1{margin-left: 900px; margin-top: -150px;}
#reset{margin-left: 1150px; margin-top: -77px;}
#reset1{font-family: 'Times New Roman', Times, serif; font-size: 24px; background-color: hotpink; width: 90%; height: 59px;}
#copyright{border-bottom: 6px solid red; background-color:lightgray;font-size: 17px; color:black;}